<div class="footer">
	<div class="row">
	<div class="col-sm-8">
	<p><small>&copy; sterding.com 2018</small></p>
	</div>
	<div class="col-sm-4">
	<a href="http://www.brighamandwomens.org/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Brigham_and_Womens_Hospital_logo.svg/878px-Brigham_and_Womens_Hospital_logo.svg.png" width="50"></a>
	<a href="https://hms.harvard.edu/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/Harvard_Medical_School_shield.svg/850px-Harvard_Medical_School_shield.svg.png" width="45"></a>
	<a href="http://www.massgeneral.org/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Massachusetts_General_Hospital_logo.svg/1200px-Massachusetts_General_Hospital_logo.svg.png" width="48"></a>
	</div>
	</div>
</div> <!-- /footer -->
