<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="/files/Harvard_CV_Xianjun.pdf" title="CV">CV</a></li>
		<li class="{{ page.publication }}"><a href="https://scholar.google.com/citations?user=2TIgdeoAAAAJ" title="Google Scholar">Publication</a></li>
		<!-- <li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li> -->
		<!-- <li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li> -->
		<!-- <li class="{{ page.notes }}"><a href="/blog" title="Blog">Blog</a></li> -->
		<li class="{{ page.notes }}"><a href="http://onetipperday.blogspot.com" title="Blog">Blog</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Xianjun Dong, PhD</a></h3>
</div> <!-- /header -->